#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#names {
    display: flex;
    width: 280px;
    padding: 0 1rem 0.2rem;
}

#names .name {
    width: 50%;
    font-size: 1rem;
}

#names #p2-name {
    text-align: right;
}

#scoreboard {
    display: flex;
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
}

#scoreboard .score-info {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 0.8rem 0;
    background: #dddcdc;
    color: #000000;
    font-size: 1.5rem;
    justify-content: space-around;
    transition: background-color 250ms;

    &.turn {
        background: var(--primary-color);
        color: #fff;

        .o {
            border: 7px solid #fff;
            color: #fff;
        }

        .x::before,
        .x::after {
            background: #fff;
        }
    }
}

#board {
    width: 270px;
    height: 270px;
    border-collapse: collapse;
    margin-top: 1.5rem;

    tr {
        &:nth-child(1) .cell {
            border-top: none;
        }

        .cell:nth-child(3) {
            border-right: none;
        }

        &:nth-child(3) .cell {
            border-bottom: none;
        }

        .cell:nth-child(1) {
            border-left: none;
        }
    }

    .cell {
        width: 90px;
        height: 90px;
        border: 3px solid var(--primary-color);
        cursor: pointer;

        &.win {
            --color-o: #009639;
            --color-x: #009639;
        }

        .o,
        .x {
            width: 70%;
            height: 70%;
            transition: transform 300ms;
        }

        .o {
            border: 13px solid var(--color-o);
        }

        .x::before,
        .x::after {
            background: var(--color-x);
            width: 13px;
            border-radius: 2.7px;
        }
    }
}

#restart-btn {
    width: 150px;
    font-size: 1.2rem;
    margin: 1.5rem auto;
}
