.toggle-btn {
    width: 48px;
    height: 22px;
    background: #6b6b6b;
    border-radius: 12px;

    .circle {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--primary-color);
        transform: translate(-1px, -1px);
        transition: transform 250ms;
        pointer-events: none;
    }

    &--on {
        background: #80e434;

        .circle {
            transform: translate(24px, -1px);
        }
    }
}